// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.status-running {
  color: @text-color-info;
}
.status-successful {
  color: @text-color-success;
}
.status-failure {
  color: @text-color-error;
}

.split-panel {
  display: flex;
}

.panel-segment {
  flex: 1;
}

.output-panel {
  max-height: 300px;
  .panel-segment {
    overflow-y: scroll;
  }
}
